*{
    padding: 0;
    margin: 0;
}

html, body{
    width: 100%;
    height: 180%;
    background-image: url(../IMG/fundo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@media(min-width: 1866px){

/* Códigos relacionados com o header */

header{ /* Código para a definição de tamanho e posição do header */
    width: 60%;
    height: 70px;
    background-color:  #d9d9d9;
    margin: 0 auto;
    border-radius: 50px; 
}
#encodedline{ /* Código para a personalização e posição da logo */
    position: relative;
    float: left;
    font-size: 40px;
    margin-top: 9px;
    margin-left: 40px;
}
#options{ /* Código para a definir a posição das opções do header */
    position: relative;
    float: right;
    margin-top: 22px;
    margin-right: 40px;
}
.options{ /* Código para a personalização das opções do header */
    font-size: 20px;
    margin-left: 50px;
    cursor: pointer;
}
.ancora{
    text-decoration: none;
    color: black;
}
.ancora:hover{
    color: red;
    transition: 0.5s;
}

/* Códigos relacionados com o corpo da página */

/* Código relacionado com o "Início", parte do "O que é robótica" */
#definicao{ /* Código para fazer toda a personalização da div, tamanho, posição e personalização */
    width: 90%;
    height: 500px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: #d9d9d9;
    border-radius: 50px;
}
#div_robotica{ /* Código da div da parte dos texto "O que é a robótica", personalização e posição da  div */
    position: relative;
    float: left;
    width: 650px;
    height: 300px;
    margin-left: 50px;
    margin-top: 100px;
    text-align: center;
}
#titulo_robotica{ /* Código para a personalização do titulo "O que é a robótica" */
    margin-top: 20px;
    margin-bottom: 10px;
}
#p_robotica{ /* Código para a personalização da resposta da pergunta acima */
    font-size: 25px;
}
#div_imagem{ /* Código para definir o tamanho, posição e personalização da div da imagem do robo */
    position: relative;
    float: right;
    height: 400px;
    width: 650px;
    margin-top: 50px;
    margin-right: 50px;
}
#robo{ /*Código para definir o tamanho da imagem do robô */
    height: 400px;
    width: 650px;
}

/* Códigos relacionados com a parte do vídeo */
#div_video{
    width: 90%;
    height: 700px;
    background-color: #d9d9d9;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 50px;
}
#titulo_video{
    text-align: center;
    padding-top: 30px;
}
#video{
    height: 550px;
    width: 99%;
    margin-top: 50px;
    margin-left: 10px;
}

/* Códigos relacionados com a parte dos projetos */
#div_projetos{
    width: 90%;
    height: 2700px;
    position: relative;
    margin: 0 auto;
    background-color: #d9d9d9;
    margin-top: 100px;
    border-radius: 50px;
}
#titulo{
    padding-top: 30px;
    font-size: 40px;
    text-align: center;
}
.titulo_projetos{
    text-align: center;
    margin-top: 50px;
}
.projeto{
    width: 857px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
}
.tinker{
    width: 857px;
    height: 500px;
}

/* Códigos relacionados com a parte de apresentação dos estudantes */
#div_estudantes{
    height: 600px;
    width: 90%;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #d9d9d9;
    border-radius: 50px;
}
#titulo_estudantes{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
.estudantes{
    width: 308px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 50px;
    position: relative;
    float: left;
    margin-left: 1.66%;
    text-align: center;
}
.div_engenharia{
    margin-top: 10px;
}
.engenharia{
    height: 150px;
    width: 150px;
    border-radius: 100px;
}
.estudantes:hover{
    bottom: 20px;
}
.div_nome{
    margin-top: 50px;
}
.nome_estudante{
    font-size: 30px;
}


/* Códigos relacionados com o footer */

footer{
    width: 100%;
    height: 20px;
    background-color: #d9d9d9;
    margin-top: 150px;
    border-radius: 50px;
    text-align: center;
}
}

@media (min-width: 1556px) and (max-width: 1865px){
    /* Códigos relacionados com o header */

header{ /* Código para a definição de tamanho e posição do header */
    width: 60%;
    height: 70px;
    background-color:  #d9d9d9;
    margin: 0 auto;
    border-radius: 50px; 
}
#encodedline{ /* Código para a personalização e posição da logo */
    position: relative;
    float: left;
    font-size: 40px;
    margin-top: 9px;
    margin-left: 40px;
}
#options{ /* Código para a definir a posição das opções do header */
    position: relative;
    float: right;
    margin-top: 22px;
    margin-right: 40px;
}
.options{ /* Código para a personalização das opções do header */
    font-size: 20px;
    margin-left: 50px;
    cursor: pointer;
}
.ancora{
    text-decoration: none;
    color: black;
}
.ancora:hover{
    color: red;
    transition: 0.5s;
}

/* Códigos relacionados com o corpo da página */

/* Código relacionado com o "Início", parte do "O que é robótica" */
#definicao{ /* Código para fazer toda a personalização da div, tamanho, posição e personalização */
    width: 90%;
    height: 500px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: #d9d9d9;
    border-radius: 50px;
}
#div_robotica{ /* Código da div da parte dos texto "O que é a robótica", personalização e posição da  div */
    position: relative;
    float: left;
    width: 650px;
    height: 300px;
    margin-left: 50px;
    margin-top: 100px;
    text-align: center;
}
#titulo_robotica{ /* Código para a personalização do titulo "O que é a robótica" */
    margin-top: 20px;
    margin-bottom: 10px;
}
#p_robotica{ /* Código para a personalização da resposta da pergunta acima */
    font-size: 25px;
}
#div_imagem{ /* Código para definir o tamanho, posição e personalização da div da imagem do robo */
    position: relative;
    float: right;
    height: 400px;
    width: 650px;
    margin-top: 50px;
    margin-right: 50px;
}
#robo{ /*Código para definir o tamanho da imagem do robô */
    height: 400px;
    width: 650px;
}

/* Códigos relacionados com a parte do vídeo */
#div_video{
    width: 90%;
    height: 700px;
    background-color: #d9d9d9;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 50px;
}
#titulo_video{
    text-align: center;
    padding-top: 30px;
}
#video{
    height: 550px;
    width: 99%;
    margin-top: 50px;
    margin-left: 10px;
}

/* Códigos relacionados com a parte dos projetos */
#div_projetos{
    width: 90%;
    height: 2700px;
    position: relative;
    margin: 0 auto;
    background-color: #d9d9d9;
    margin-top: 100px;
    border-radius: 50px;
}
#titulo{
    padding-top: 30px;
    font-size: 40px;
    text-align: center;
}
.titulo_projetos{
    text-align: center;
    margin-top: 50px;
}
.projeto{
    width: 857px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
}
.tinker{
    width: 857px;
    height: 500px;
}

/* Códigos relacionados com a parte de apresentação dos estudantes */
#div_estudantes{
    height: 1800px;
    width: 90%;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #d9d9d9;
    border-radius: 50px;
}
#titulo_estudantes{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
.estudantes{
    width: 80%;
    height: 300px;
    background-color: #ffffff;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 30px;
}
.div_engenharia{
    position: relative;
    float: left;
    margin-left: 100px;
    margin-top: 25px;
}
.engenharia{
    height: 250px;
    width: 250px;
}
.estudantes:hover{
    bottom: 20px;
}
.div_nome{
    position: relative;
    text-align: center;
    padding-top: 116.5px;
}
.nome_estudante{
    font-size: 30px;
}


/* Códigos relacionados com o footer */

footer{
    width: 100%;
    height: 20px;
    background-color: #d9d9d9;
    margin-top: 150px;
    border-radius: 50px;
    text-align: center;
}
}

@media (min-width: 1252px) and (max-width: 1555px){
        /* Códigos relacionados com o header */

header{ /* Código para a definição de tamanho e posição do header */
    width: 60%;
    height: 70px;
    background-color:  #d9d9d9;
    margin: 0 auto;
    border-radius: 50px; 
}
#encodedline{ /* Código para a personalização e posição da logo */
    position: relative;
    float: left;
    font-size: 40px;
    margin-top: 9px;
    margin-left: 40px;
}
#options{ /* Código para a definir a posição das opções do header */
    position: relative;
    float: right;
    margin-top: 22px;
    margin-right: 40px;
}
.options{ /* Código para a personalização das opções do header */
    font-size: 20px;
    margin-left: 50px;
    cursor: pointer;
}
.ancora{
    text-decoration: none;
    color: black;
}
.ancora:hover{
    color: red;
    transition: 0.5s;
}

/* Códigos relacionados com o corpo da página */

/* Código relacionado com o "Início", parte do "O que é robótica" */
#definicao{ /* Código para fazer toda a personalização da div, tamanho, posição e personalização */
    width: 90%;
    height: 680px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: #d9d9d9;
    border-radius: 50px;
}
#div_robotica{ /* Código da div da parte dos texto "O que é a robótica", personalização e posição da  div */
    position: relative;
    margin: 0 auto;
    width: 95%;
    height: 200px;
    padding-top: 30px;
    text-align: center;
}
#titulo_robotica{ /* Código para a personalização do titulo "O que é a robótica" */
    margin-top: 20px;
    margin-bottom: 10px;
}
#p_robotica{ /* Código para a personalização da resposta da pergunta acima */
    font-size: 25px;
}
#div_imagem{ /* Código para definir o tamanho, posição e personalização da div da imagem do robo */
    position: relative;
    height: 300px;
    width: 550px;
    margin: 0 auto;
    margin-top: 30px;
}
#robo{ /*Código para definir o tamanho da imagem do robô */
    height: 400px;
    width: 650px;
}

/* Códigos relacionados com a parte do vídeo */
#div_video{
    width: 90%;
    height: 700px;
    background-color: #d9d9d9;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 50px;
}
#titulo_video{
    text-align: center;
    padding-top: 30px;
}
#video{
    height: 550px;
    width: 99%;
    margin-top: 50px;
    margin-left: 10px;
}

/* Códigos relacionados com a parte dos projetos */
#div_projetos{
    width: 90%;
    height: 2700px;
    position: relative;
    margin: 0 auto;
    background-color: #d9d9d9;
    margin-top: 100px;
    border-radius: 50px;
}
#titulo{
    padding-top: 30px;
    font-size: 40px;
    text-align: center;
}
.titulo_projetos{
    text-align: center;
    margin-top: 50px;
}
.projeto{
    width: 857px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
}
.tinker{
    width: 857px;
    height: 500px;
}

/* Códigos relacionados com a parte de apresentação dos estudantes */
#div_estudantes{
    height: 1800px;
    width: 90%;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #d9d9d9;
    border-radius: 50px;
}
#titulo_estudantes{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
.estudantes{
    width: 80%;
    height: 300px;
    background-color: #ffffff;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 30px;
}
.div_engenharia{
    position: relative;
    float: left;
    margin-left: 100px;
    margin-top: 25px;
}
.engenharia{
    height: 250px;
    width: 250px;
}
.estudantes:hover{
    bottom: 20px;
}
.div_nome{
    position: relative;
    text-align: center;
    padding-top: 116.5px;
}
.nome_estudante{
    font-size: 30px;
}


/* Códigos relacionados com o footer */

footer{
    width: 100%;
    height: 20px;
    background-color: #d9d9d9;
    margin-top: 150px;
    border-radius: 50px;
    text-align: center;
}
}

@media (min-width: 955px) and (max-width: 1251px){
         /* Códigos relacionados com o header */

header{ /* Código para a definição de tamanho e posição do header */
    width: 60%;
    height: 70px;
    background-color:  #d9d9d9;
    margin: 0 auto;
    border-radius: 50px; 
}
#encodedline{ /* Código para a personalização e posição da logo */
    position: relative;
    float: left;
    font-size: 20px;
    margin-top: 22px;
    margin-left: 10px;
}
#options{ /* Código para a definir a posição das opções do header */
    position: relative;
    float: right;
    margin-top: 22px;
    margin-right: 10px;
}
.options{ /* Código para a personalização das opções do header */
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.ancora{
    text-decoration: none;
    color: black;
}
.ancora:hover{
    color: red;
    transition: 0.5s;
}

/* Códigos relacionados com o corpo da página */

/* Código relacionado com o "Início", parte do "O que é robótica" */
#definicao{ /* Código para fazer toda a personalização da div, tamanho, posição e personalização */
    width: 90%;
    height: 680px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: #d9d9d9;
    border-radius: 50px;
}
#div_robotica{ /* Código da div da parte dos texto "O que é a robótica", personalização e posição da  div */
    position: relative;
    margin: 0 auto;
    width: 95%;
    height: 200px;
    padding-top: 30px;
    text-align: center;
}
#titulo_robotica{ /* Código para a personalização do titulo "O que é a robótica" */
    margin-top: 20px;
    margin-bottom: 10px;
}
#p_robotica{ /* Código para a personalização da resposta da pergunta acima */
    font-size: 25px;
}
#div_imagem{ /* Código para definir o tamanho, posição e personalização da div da imagem do robo */
    position: relative;
    height: 300px;
    width: 550px;
    margin: 0 auto;
    margin-top: 30px;
}
#robo{ /*Código para definir o tamanho da imagem do robô */
    height: 400px;
    width: 650px;
}

/* Códigos relacionados com a parte do vídeo */
#div_video{
    width: 90%;
    height: 700px;
    background-color: #d9d9d9;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 50px;
}
#titulo_video{
    text-align: center;
    padding-top: 30px;
}
#video{
    height: 550px;
    width: 99%;
    margin-top: 50px;
    margin-left: 10px;
}

/* Códigos relacionados com a parte dos projetos */
#div_projetos{
    width: 90%;
    height: 2700px;
    position: relative;
    margin: 0 auto;
    background-color: #d9d9d9;
    margin-top: 100px;
    border-radius: 50px;
}
#titulo{
    padding-top: 30px;
    font-size: 40px;
    text-align: center;
}
.titulo_projetos{
    text-align: center;
    margin-top: 50px;
}
.projeto{
    width: 857px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
}
.tinker{
    width: 857px;
    height: 500px;
}

/* Códigos relacionados com a parte de apresentação dos estudantes */
#div_estudantes{
    height: 1800px;
    width: 90%;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #d9d9d9;
    border-radius: 50px;
}
#titulo_estudantes{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
.estudantes{
    width: 80%;
    height: 300px;
    background-color: #ffffff;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 30px;
}
.div_engenharia{
    position: relative;
    float: left;
    margin-left: 100px;
    margin-top: 25px;
}
.engenharia{
    height: 250px;
    width: 250px;
}
.estudantes:hover{
    bottom: 20px;
}
.div_nome{
    position: relative;
    text-align: center;
    padding-top: 116.5px;
}
.nome_estudante{
    font-size: 30px;
}


/* Códigos relacionados com o footer */

footer{
    width: 100%;
    height: 20px;
    background-color: #d9d9d9;
    margin-top: 150px;
    border-radius: 50px;
    text-align: center;
}   
}

@media (max-width: 954px){
             /* Códigos relacionados com o header */

header{ /* Código para a definição de tamanho e posição do header */
    width: 900px;
    height: 70px;
    background-color:  #d9d9d9;
    margin: 0 auto;
    border-radius: 50px; 
}
#encodedline{ /* Código para a personalização e posição da logo */
    position: relative;
    float: left;
    font-size: 20px;
    margin-top: 22px;
    margin-left: 10px;
}
#options{ /* Código para a definir a posição das opções do header */
    position: relative;
    float: right;
    margin-top: 22px;
    margin-right: 10px;
}
.options{ /* Código para a personalização das opções do header */
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.ancora{
    text-decoration: none;
    color: black;
}
.ancora:hover{
    color: red;
    transition: 0.5s;
}

/* Códigos relacionados com o corpo da página */

/* Código relacionado com o "Início", parte do "O que é robótica" */
#definicao{ /* Código para fazer toda a personalização da div, tamanho, posição e personalização */
    width: 900px;
    height: 680px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: #d9d9d9;
    border-radius: 50px;
}
#div_robotica{ /* Código da div da parte dos texto "O que é a robótica", personalização e posição da  div */
    position: relative;
    margin: 0 auto;
    width: 95%;
    height: 200px;
    padding-top: 30px;
    text-align: center;
}
#titulo_robotica{ /* Código para a personalização do titulo "O que é a robótica" */
    margin-top: 20px;
    margin-bottom: 10px;
}
#p_robotica{ /* Código para a personalização da resposta da pergunta acima */
    font-size: 25px;
}
#div_imagem{ /* Código para definir o tamanho, posição e personalização da div da imagem do robo */
    position: relative;
    height: 300px;
    width: 550px;
    margin: 0 auto;
    margin-top: 30px;
}
#robo{ /*Código para definir o tamanho da imagem do robô */
    height: 400px;
    width: 650px;
}

/* Códigos relacionados com a parte do vídeo */
#div_video{
    width: 900px;
    height: 700px;
    background-color: #d9d9d9;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 50px;
}
#titulo_video{
    text-align: center;
    padding-top: 30px;
}
#video{
    height: 550px;
    width: 99%;
    margin-top: 50px;
    margin-left: 10px;
}

/* Códigos relacionados com a parte dos projetos */
#div_projetos{
    width: 900px;
    height: 2700px;
    position: relative;
    margin: 0 auto;
    background-color: #d9d9d9;
    margin-top: 100px;
    border-radius: 50px;
}
#titulo{
    padding-top: 30px;
    font-size: 40px;
    text-align: center;
}
.titulo_projetos{
    text-align: center;
    margin-top: 50px;
}
.projeto{
    width: 857px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
}
.tinker{
    width: 857px;
    height: 500px;
}

/* Códigos relacionados com a parte de apresentação dos estudantes */
#div_estudantes{
    height: 1800px;
    width: 900px;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #d9d9d9;
    border-radius: 50px;
}
#titulo_estudantes{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
.estudantes{
    width: 80%;
    height: 300px;
    background-color: #ffffff;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 30px;
}
.div_engenharia{
    position: relative;
    float: left;
    margin-left: 100px;
    margin-top: 25px;
}
.engenharia{
    height: 250px;
    width: 250px;
}
.estudantes:hover{
    bottom: 20px;
}
.div_nome{
    position: relative;
    text-align: center;
    padding-top: 116.5px;
}
.nome_estudante{
    font-size: 30px;
}


/* Códigos relacionados com o footer */

footer{
    width: 900px;
    margin: 0 auto;
    height: 20px;
    background-color: #d9d9d9;
    margin-top: 150px;
    border-radius: 50px;
    text-align: center;
}
}